@import "tailwindcss";
.home {
  background: url("./assets/vector-bg.jpg") no-repeat;
  background-size: cover;
}

@keyframes fadein {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fromTop {
  from {
    translate: 0 -40px;
  }
  to {
    translate: 0;
  }
}
@keyframes fromTopMin {
  from {
    translatey: 0 -30px;
  }
  to {
    translate: 0;
  }
}

.heading-button {
  animation: fadein 3s ease-in-out;
}

.heading {
  animation: fromTop 3s ease-in-out;
}
.heading-p {
  animation: fromTop 3s ease-in-out;
}
